body{
    background: linear-gradient(180deg, #df7296, #23236f);
    overflow: hidden;

}
/* In Landing.css or global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars from appearing */
}

.relative {
    position: relative;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
  }