body{
    background: linear-gradient(180deg, #df7296, #23236f);
    overflow: hidden;
    position: fixed;

}
.items{
   position: fixed;
}

@media (max-width:768px) {
    body{
        overflow: hidden;
        position: fixed;
    }
    .items{
        position: fixed;
    }
}
@media (max-width:390) {
    body{
        overflow: hidden;
        position: fixed;
    }
    .items{
        position: fixed;
    }
}
@media (max-width:414px) {
    body{
        overflow: hidden;
        position: fixed;
    }
    .items{
        position: fixed;
    }
}
@media (max-width:375) {
    body{
        overflow: hidden;
        position: fixed;
    }
    .items{
        position: fixed;
    }
}
@media (max-width:360px) {
    body{
        overflow: hidden;
        position: fixed;
    }
    .items{
        position: fixed;
    }
}
@media (max-width:412px) {
    body{
        overflow: hidden;
        position: fixed;
    }
    .items{
        position: fixed;
    }
}